<h5 class="error404">Error 404 - Página não encontrada!</h5>
<div class="error404">
  <div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>
<br>
<a class="waves-effect waves-light btn btnError404" (click)="redirectHome()">Voltar</a>
